/* Reset and utility class setup */

:root {
    --white: #faf2e7;
    --black: #000000;
    --neutral: #868686;
    --gutter-width: 1vw;
    --column: 15;
    --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
    --column-width: calc(calc(100vw - (var(--gutter-width) * 11)) / var(--column));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

html,
body {
    width: 100vw;
    min-height: 100svh;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    font-family: "DM Sans", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

li {
    list-style: none;
}

p,
span,
a,
button {
    font-size: clamp(1rem, 1rem + 0.25vw, 1rem);
    font-weight: 900;
    text-wrap: nowrap;
    text-decoration: none;
    color: var(--black);
}

a,
p {
    line-height: 0.9;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

button:focus-visible,
a:focus-visible {
    outline: 2px solid var(--black);
}

/* Grid layout overlay */

.overlay {
    opacity: 0;
    position: fixed;
    inset: 0 var(--gutter-width);
    background-image: repeating-linear-gradient(to right,
            #d2d6f9,
            #d2d6f9 calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc((100% / var(--column)) - var(--gutter-width)),
            transparent calc(100% / var(--column)));
    background-position: left top;
    background-size: calc(100% + var(--gutter-width)) 100%;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: var(--gutter-width);
    background-color: #8b484879;
}

.overlay::before {
    top: 0;
}

.overlay::after {
    bottom: 0;
}

.overlay.active {
    opacity: 1;
}

/* Page styling */
body {
    background-color: var(--white);
    padding: var(--gutter-width);
    overflow: visible;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: var(--gutter-width);
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    gap: var(--gutter-width);
    background-color: var(--white);
    z-index: 2;
}

.navigation a,
.navigation span {
    text-transform: capitalize;
}

.navigation .navigation__button {
    display: none;
}

.navigation .navigation__time {
    grid-column: 4 / 7;
}

.navigation .navigation__logo {
    grid-column: 1 / 3;
}

.navigation .navigation__time .navigation__time--text span {
    color: var(--neutral);
}

.navigation .navigation__list {
    grid-column: 11 / 16;
    display: flex;
    justify-content: flex-end;
    gap: calc(1.5 * var(--gutter-width));
}

.navigation__logo,
.navigation__time,
.navigation__list--item {
    overflow: hidden;
    line-height: 1.3;
}

.navigation__logo .navigation__logo--text,
.navigation__time .navigation__time--text,
.navigation__list--item a {
    display: inline-block;
    transform: translateY(0%);
}

.container {
    --container-header-space: 10vh;
}

.wrapper .wrapper__header {
    --border-bottom-width: 100%;
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    gap: var(--gutter-width);
    position: relative;
    padding: var(--container-header-space) 0;
    background-color: var(--white);
    position: sticky;
    top: 1vw;
    z-index: 1;
}

.wrapper .wrapper__header::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: var(--border-bottom-width);
    height: 1px;
    background-color: var(--neutral);
}

.wrapper__header .row {
    grid-column: 4 / 16;
    display: flex;
    justify-content: space-between;
}

.wrapper__header .row .header__heading,
.wrapper__header .row .btns__item {
    overflow: hidden;
    line-height: 0.9;
    /* background-color: red; */
}

.wrapper__header .row .header__heading span,
.wrapper__header .row .btns__item span {
    display: inline-block;
    transform: translateY(0%);
    font-weight: 700;
    font-size: clamp(2rem, 1rem + 5vw, 2.5rem);
    text-transform: capitalize;
}

.wrapper__header .row .header__heading .header__heading--text span,
.wrapper__header .row .btns__item.active span {
    color: var(--neutral);
}

.wrapper__header .row .header__btns {
    display: flex;
    gap: 2vw;
}

.wrapper .wrapper__content {
    width: 100%;
}

.wrapper__content .content__row {
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    gap: var(--gutter-width);
    padding: 1vw 0;
    border-bottom: 1px solid var(--neutral);
    align-items: center;
}

.content__row .row__number,
.content__row .row__description .description__heading {
    font-size: clamp(1rem, 1rem + 0.25vw, 1rem);
}

.content__row .row__description {
    grid-column: 4 / 7;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.content__row .row__description .description__link {
    color: var(--neutral);
    width: fit-content;
}

.row__description .description__link span {
    transform: rotate(-45deg);
    color: var(--neutral);
    display: inline-block;
}

.content__row .row__images {
    grid-column: 10 / 16;
    display: flex;
    gap: calc(1.5 * var(--gutter-width));
}

.content__row .row__images .image__item {
    width: 10vw;
    aspect-ratio: 1/0.75;
    background-color: var(--neutral);
}

/* Responsive design */
@media (max-width: 750px) {
    :root {
        --column: 6;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation .navigation__list {
        display: none;
    }

    .navigation .navigation__button {
        display: block;
    }

    .container {
        --container-header-space: 6vh;
    }

    .wrapper .wrapper__header {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .wrapper__header .row {
        grid-column: 1 / 7;
        display: flex;
        justify-content: space-between;
    }
}